[submodule "Logkom_2023"]
	path = Logkom_2023
	url = https://github.com/NoHaitch/Logkom_2023
[submodule "Orkom_2023"]
	path = Orkom_2023
	url = https://github.com/NoHaitch/Orkom_2023
[submodule "Alstrukdat_2023"]
	path = Alstrukdat_2023
	url = https://github.com/NoHaitch/Alstrukdat_2023
[submodule "Algeo_2023"]
	path = Algeo_2023
	url = https://github.com/NoHaitch/Algeo_2023
[submodule "Matdis_2023"]
	path = Matdis_2023
	url = https://github.com/NoHaitch/Matdis_2023
[submodule "Tbfo_2023/Tubes-IF2124-TBFO"]
	path = Tbfo_2023/Tubes-IF2124-TBFO
	url = https://github.com/NoHaitch/Tubes-IF2124-TBFO
